body{
	display: flex;
	justify-content: center; /*centra la caja del login*/
	align-items: center; /*centra la caja del login*/
	min-height: 100vh; /*ajusta la altura*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(../imagenes/background.jpg);
}

.caja-login{
	width: 450px; /*ancho de la caja del login*/
	height: 500px;/*alto de la caja del login*/
	overflow: hidden;
	border-radius: 4px;
	background: rgba(5, 5, 5, 0.836);
}
#chk{/*es solo es el titulo que dice "sign"* ademas chk es una id */
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: white; /*color y tamaño del "ADMINISTRADOR"*/
	font-size: 2.3em;
	justify-content: center; /*centra el texto "Sign up"*/
	display: flex; /*para maquetar el contenido*/
	margin: 60px; /*tamaño que ocupa la label*/
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{/*la cajas para poner los datos de la sesion*/
	width: 60%;/*alto,ancho y color de los inputs*/
	height: 20px;
	background: #e0dede;
	display: flex; /*los hace para se centren*/
	margin: 20px auto; /*ajustar tamaño de los inputs mas que nada*/
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{/*Diseño del boton*/
	width: 60%; /*alto,ancho de los botones*/
	height: 40px;
	margin: 10px auto; /*margen que ocuparan los botones*/
	justify-content: center; /*para centrarlo con lo demas*/
	display: block;
	color: white; /*cambia el color del texto que esta en el boton*/
	background: gray; /*cambia de color el boton*/
	font-size: 1em; /*cambia el tamaño de la letra del boton*/
	font-weight: bold; /*hace mas ancha las letras?*/
	margin-top: 30px; /*cambia la distancia de las labels*/
	
	/*de aqui para abajo es solo estetica*/
    outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: green; /*cambia de color el hover*/
}
.icono{
	margin: auto;
    width: auto;
    height: auto;
    position: absolute;
}
