body{/*es solo el body lol*/
	display: flex;
	justify-content: center; 
	align-items: center; 
	min-height: 100vh; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(../imagenes/background.jpg);
}

.caja-login{/*la caja "padre" que contiene todo*/
	width: 450px; 
	height: 500px;
	overflow: hidden;
	border-radius: 4px;
	background: rgba(5, 5, 5, 0.836);
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: white; 
	font-size: 2.3em;
	justify-content: center; 
	display: flex; 
	margin: 60px; 
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{/*la cajas para poner los datos de la sesion*/
	width: 60%;
	height: 20px;
	background: #e0dede;
	display: flex; 
	margin: 20px auto; 
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.caja-login #iniciar-sesion{/*Diseño del boton*/
	width: 60%; 
	height: 40px;
	margin: 10px auto; 
	justify-content: center; 
	display: block;
	color: white; 
	background: gray; 
	font-size: 1em; 
	font-weight: bold; 
	margin-top: 30px;
    outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

#regresar .back{/*Diseño del boton*/
	width: 60%; 
	height: 40px;
	margin: 10px auto; 
	justify-content: center; 
	display: block;
	color: white; 
	background: gray; 
	font-size: 1em;
	font-weight: bold; 
	margin-top: 25px; 
    outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

#iniciar-sesion:hover{
	background: green; /*cambia de color el hover*/
}
#regresar .back:hover{
	background: blue;
}
.icono{
	margin: auto;
    width: auto;
    height: auto;
    position: absolute;
}
