@media only screen and (min-width:992px) and (max-width:1200px){
    .caja{
        width: 970px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .caja{
        width: 750px;
        height: 960px;
    }
    .single-menu{
        flex-direction: column;
    }
    .single-menu img{
        margin-bottom: 25px;
    }
}