<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/registroProducto.css'  %}">
    <title>Nueva Oferta</title>
</head>
<body>
    <section class="caja">
        <center><i><h4>Registro de Nueva oferta</h4></i></center>
        <center><i><h4>
            {%if messages %}
                {% for msg in messages%}
                <b>{{msg}}</b>
                {% endfor %}
                {% endif %}
            </h4></i>
        </center>
        <center>
        <form action ="/addOferta" method="POST" id= "agregarOferta">
        {%csrf_token%}
        <input class="datos" type="text" name="id" id="nombre" placeholder="Id de la oferta" required="">
        <input class="datos" type="datetime" name="fechaI" id="OFInicio" placeholder="Fecha de Inicio (Formato: YYYY-MM-DD)" required="">
        <input class="datos" type="datetime" name="fechaF" id="OFFin" placeholder="Fecha de termino (Formato: YYYY-MM-DD)" required="">
        <input class="datos" type="text" name="precio" id="precio" placeholder="Precio Nuevo"  required="">
        </center>
        <input class="register" type= "submit" value="Registrar">
        <input class="cancel" type="reset" value="Eliminar">
        </form>
        <form action="/optiadm" id="regresar">
            <input class="back" type="submit" value="Volver menu administrador">
        </form>
    </section>

    <section class="caja">
        <center><i><h4>Añadir Productos a una Oferta</h4></i></center>
        
            </h4></i>
        <center>
        <form action="/conexion" method="POST" id="conexionOferta">
            {%csrf_token%}
        <input class="datos" type="text" name="id_prod" id="prod_id" placeholder="Id del Producto" required="">
        <input class="datos" type="text" name="id_offer" id="id_offer" placeholder="Id de la oferta" required="">
        </center>
        <input class="register" type= "submit" value="Registrar">
        <input class="cancel" type="reset" value="Eliminar">
    </form>
    
    </section>
    
</body>
</html>