<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'css/registroOferta.css'  %}">
    <title>Nueva Oferta</title>
</head>
<body>
    <section class="caja">
        <center><i><h4>Registro de Nueva oferta</h4></i></center>
        <center>
        <input class="datos" type="text" name="nombre" id="nombre" placeholder="Nombre del Producto">
        <input class="datos" type="text" name="identificador" id="id_pro" placeholder="ID del Producto">
        <input class="datos" type="datetime" name="fechaI" id="OFInicio" placeholder="Fecha de Inicio">
        <input class="datos" type="datetime" name="fechaF" id="OFFin" placeholder="Fecha de termino">
        <input class="datos" type="text" name="precio" id="precio" placeholder="Precio">
        </center>
        <input class="register" type= "submit" value="Registrar">
        <input class="cancel" type="button" value="Cancelar">
    </section>
    
</body>
</html>