<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'css/registroProducto.css'  %}">
    <title>Nuevo Producto</title>
    
</head>
<body>

    <section class="caja">
        <center><i><h4>Registro de nuevo Producto</h4></i></center>
        <center><i><h4>
            {%if messages %}
                {% for msg in messages%}
                <b>{{msg}}</b>
                {% endfor %}
                {% endif %}
            </h4></i>
        </center>
            <center>
            <form action="/addProducto" method="POST" id="agregarProducto">
            {%csrf_token%}
            <input class="datos" type="text" name="nombre" id="nombre" placeholder="Nombre del Producto" required="">
            <input class="datos" type="text" name="identificador" id="id_pro" placeholder="ID del Producto" required="">
            <input class="datos" type="text" name="precio" id="precio" placeholder="Precio" required="">
            <input class="datos" type="text" name="tipoProd" id="tp_id" placeholder="Tipo de Producto" required="">
            
            <input class="register" type= "submit" value="Registrar">
            <input class="cancel" type="reset" value="Eliminar">
            </form>
            </center>

        
        <center>


        <form action="/optiadm" id="regresar">
            <center><input class = "back" type="submit" value="Volver menu administrador" id="Volver" ></center>
        </form>

    </section> 
</body>
</html>