<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/carta-style.css'  %}">
    <link rel="stylesheet" href="{% static 'css/responsive_view_carta.css'  %}">
    <title>Carta</title>
</head>
<body> 
    <div class="caja">
        <div class="seccion-titulo">
            <h2>Carta</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, quis?</p>
        </div>
        <div class="menus">
            <div class="menu-columna">
                <h4>Comidas</h4>
                <div class="single-menu">
                    <img src="imagenes/chorillana.jpg" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Chorrillana <span>$13.000</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="imagenes/completo.jpg" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Completo <span>$1.000</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="imagenes/hamburger.jpg" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Hambuergesa <span>$2.000</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="menu-columna">
                <h4>Bebidas</h4>
                <div class="single-menu">
                    <img src="imagenes/mojito.jpg" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Mojito <span>$1.700</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="imagenes/piscola.jpg" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Piscola<span>$800</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="imagenes/jugonatural.jpg" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Jugo Natural <span>$1.300</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="menu-columna">
                <h4>Ofertas</h4>
                <div class="single-menu">
                    <img src="imagenes/offerM.png" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Oferta Disponible 1 <span>$$$</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="imagenes/offerM.png" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Oferta Disponible 2 <span>$$$</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="imagenes/offerM.png" alt=""> <!--AQUI VAN LAS IMAGENES-->
                    <div class="menu-contenido">
                        <h5>Oferta Disponible 3 <span>$$$</span></h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>