<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Comanda</title>
    <link rel="stylesheet" href="{% static 'css/comandaStyle.css'  %}">
</head>
<body>
    <div class="caja">
        <center><form action = "/optgarzon" id="back"> 
            <input class="back" type="submit" value="Volver Menu Garzon"><!--el btn cambio de posicion solo por estetica? -->
        </form></center>
        <center><i><h1>Nueva Comanda</center>
        <center><i><h3>
            {%if messages %}
                {% for msg in messages%}
                <b>{{msg}}</b>
                {% endfor %}
                {% endif %}
            </h3></i>
    </div>
<form action= "/NuevaComanda" method="POST" id= "NC">{%csrf_token%}
    <div class="caja">
        <center><h3>Datos de la comanda</h3></center>
        <center>
            <input class="datos" type="text" name="id_com" id="id_com" placeholder="ID de Comanda" required = "">
            <input class="datos" type="text" name="nombre" id="Name_cli" placeholder="Nombre del Cliente" >
            <input class="datos" type="text" name="Rut_Cli" id="RUN_Cli" placeholder="RUN Cliente (Sin puntos y con guion)" required="">
            <input class="datos" type="text" name="Rut_Gar" id="RUN_Gar" placeholder="RUN Garzon (Sin puntos y con guion)" required="">
            <input class="datos" type="number" name="cantidad" id="cant_clientes" placeholder="NRO de Personas" required="">
            <input class="datos" type="number" name="mesa" id="nro_Mesa" placeholder="NRO de la Mesa" required="">
            
        </center>
    </div>

    <div class="box">
        
            <table id="Prods_disp">
                <tr>
                    <th> </th>
                    <th>Productos</th>
                    <th>Cantidad</th>
                    <th>Precio</th>

                </tr>              
                <tr>
                    <td>Producto 1:</td> 
                    <td><input class="datos" type="number" name="idProd1" id="Prods_s" placeholder="Id del Producto" required="" ></td>                    
                    <td><input class="datos" type="number" name= "Cantidad1" id="Cantidad" placeholder="Cantidad" required=""></td>
                    <td><input class="datos" type="number" name="precio1" id="precio" placeholder="Precio" required="" ></td>
                    

                </tr>
                <tr>
                    <td>Producto 2:</td>
                    <td><input class="datos" type="number" name="idProd2" id="Prods_s" placeholder="Id del Producto" required=""></td>
                    <td><input class="datos" type="number" name= "Cantidad2"  id="Cantidad" placeholder="Cantidad" required=""></td>
                    <td><input class="datos" type="number" name="precio2" id="precio" placeholder="Precio" required=""></td>
                </tr>
                <tr>
                    <td>Producto 3:</td>
                    <td><input class="datos" type="number" name="idProd3" id="Prods_s" placeholder="Id del Producto" required=""></td>
                    <td><input class="datos" type="number" name= "Cantidad3"  id="Cantidad" placeholder="Cantidad" required=""></td>
                    <td><input class="datos" type="number" name="precio3" id="precio" placeholder="Precio" required=""></td>
                </tr>
                <tr>
                    <td>Producto 4:</td>
                    <td><input class="datos" type="number" name="idProd4" id="Prods_s" placeholder="Id del Producto" required=""></td>
                    <td><input class="datos" type="number" name= "Cantidad4" id="Cantidad" placeholder="Cantidad" required=""></td>
                    <td><input class="datos" type="number" name="precio4" id="precio" placeholder="Precio"  required=""></td>
                </tr>
            </table>
            <input class="register" type="submit" value="Registrar">
            <input class="cancel" type="reset" value="Cancelar">
        </form>  
    </div>
</body>
</html>