<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Comanda</title>
    <link rel="stylesheet" href="{% static 'css/comandaStyle.css'  %}">
</head>
<body>
    <div class="caja">
        <center><i><h1>Nueva Comanda</h1></i></center>
    </div>

    <div class="caja">
        <center><h3>Datos de la comanda</h3></center>
        <center>
            <form action="/nuevaComanda" id= "newcomand">
            <input class="datos" type="text" name="nombre" id="Name_cli" placeholder="Nombre del Cliente">
            <input class="datos" type="text" name="Rut_Cli" id="RUN_Cli" placeholder="RUN Cliente (Sin puntos y con guion)">
            <input class="datos" type="text" name="Rut_Gar" id="RUN_Gar" placeholder="RUN Garzon (Sin puntos y con guion)">
            <input class="datos" type="text" name="identi_venta" id="id_Venta" placeholder="Id de la Venta">
            <input class="datos" type="number" name="cantidad" id="cant_clientes" placeholder="NRO de Personas">
            <input class="datos" type="number" name="mesa" id="nro_Mesa" placeholder="NRO de la Mesa">
            <input class="datos" type="datetime" name="fecha" id="Fecha" placeholder="Fecha (Formato: YYYY-MM-DD hh:mm:ss)">
        </center>
    </div>

    <div class="box">
        <form name="tblform">
            <table id="Prods_disp">
                <tr>
                    <th> </th>
                    <th>Productos</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
               
                <tr>
                    <td>Producto 1:</td> <!--se deben crear mas espacios despues de que se seleccione un producto--> 
                <td>
                    <select id="Producto">
                        <option value="1">Selecciona el Producto</option>
                        <option value="Prod1">Producto 1</option>
                        <option value="Prod2">Producto 2</option>
                        <option value="Prod3">Producto 3</option>
                        <option value="Prod4">Producto 4</option>
                    </select>
                </td>
                <td><input type="number" value="0" id="modifier_cantidad"></td>
                <td> <input type="text" id="modifier_precio" readonly="readonly"></td>
                </tr>

                <tr>
                    <td>Producto 2:</td>
                <td>
                    <select id="Producto">
                        <option value="1">Selecciona el Producto</option>
                        <option value="Prod1">Producto 1</option>
                        <option value="Prod2">Producto 2</option>
                        <option value="Prod3">Producto 3</option>
                        <option value="Prod4">Producto 4</option>
                    </select>
                </td>
                <td><input type="number" value="0" id="modifier_cantidad"></td>
                <td> <input type="text" id="modifier_precio"readonly="readonly"></td>
                </tr>

                <tr>
                    <td>Producto 3:</td>
                <td>
                    <select id="Producto">
                        <option value="1">Selecciona el Producto</option>
                        <option value="Prod1">Producto 1</option>
                        <option value="Prod2">Producto 2</option>
                        <option value="Prod3">Producto 3</option>
                        <option value="Prod4">Producto 4</option>
                    </select>
                </td>
                <td><input type="number" value="0" id="modifier_cantidad"></td>
                <td> <input type="text" id="modifier_precio"readonly="readonly"></td>
                </tr>

                <tr>
                    <td>Producto 4:</td>
                <td>
                    <select id="Producto">
                        <option value="1">Selecciona el Producto</option>
                        <option value="Prod1">Producto 1</option>
                        <option value="Prod2">Producto 2</option>
                        <option value="Prod3">Producto 3</option>
                        <option value="Prod4">Producto 4</option>
                    </select>
                </td>
                <td><input type="number" value="0" id="modifier_cantidad"></td>
                <td> <input type="text" id="modifier_precio"readonly="readonly"></td>
                </tr>
            </table>
        </form>
    </form>
        <input class="register" type="submit" value="Registrar">
        <input class="back" type="button" value="Volver Menu Garzon">
        <input class="cancel" type="reset" value="Cancelar">
    </div>
    
        


    
</body>
</html>