<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/opt-garzon1.css'%}">
    
    <title>Menu Garzon</title>
</head>
<body>

    <div class = "recuadro" id="user">
        <p>Fecha:
        <script> 
            var d = new Date();
            document.write(d.getDate() + "/" + (d.getMonth() +1) + "/" + d.getFullYear());
            </script>
        </p>
        <form action="/Indice" id ="back"> {% csrf_token %}
            <input class = "boton" type="submit" value="Volver" id="btvolver" >
        </form>
    </div>

    <div class="recuadro" id="opciones">
        <p id="labelOpciones">Opciones <br>de Garzon</p>
        <center>
            <form action = "/Comanda" id="Nueva comanda">
                <h3>Inciar Comanda </h3>
                <button class = "btnOpcion btn-primary" type="submit" id="btnewComanda" ></button>
            </form>
        </center> 
        
        <center>
            <form >
                <h3>Comandas Activas</h3>
                <button class = "btnOpcion btn-primary" type="button"  id="btcomAct"></button>
            </form>
        </center>
        
        <center>
            <form action ='/interpago' id = "pago">
                <h3>Realizar Pago</h3>
                <button class="btnOpcion btn-primary" type="submit" id="btPayment"> </button>
            </form>    
        </center>

        <center>
            <form action ='/intermenu' id= "Menu">
                <h3>Menu</h3>
                <button class="btnOpcion btn-primary" type="submit" id="btMenu"></button>
            </form>
        </center>
    </div>
    
</body>
</html>