<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static 'css/opt-adm1.css' %}">
    <title>Menu administrador</title>
</head>

<body>

    <!--Boton cerrar sesion  -->
    <div class = "recuadro" id="user">

        <form action="" id="datosAdmin">
            <p>Usuario:  </br>Fecha:</br>RUT: </p>
        </form>

        <form action="/SesionAdmin" id ="Sesion"> {% csrf_token %} 
            <input class = "boton" type="submit" value="Cerrar Sesion" id="btCerrar" >
        </form>

    </div>

    <div class="recuadro" id="opciones">

        <p id="labelOpciones">Opciones de administrador</p>
        <center>
            <!--Boton añadir oferta redirecciona a la pestaña añadir oferta  -->
            <form>
                <h3>Añadir Oferta</h3>
                <button class = "btnOpcion btn-primary" type="submit" id="btAñadiroferta"></button>
            </form>
        </center> 
        
        <center>
            <!--Boton añadir Producto redirecciona a la pestaña añadir Producto  -->
            <form action="/addProducto" id="Addproducto">{% csrf_token %}
                <h3>Agregar Producto</h3>
                <button class = "btnOpcion btn-primary" type="submit"  id="btInsertarpro"></button>
            </form>
        </center>
        
        <center>
            <!--Boton Visualizar Ofertas redirecciona a la pestaña Visualizar oferta  -->
            <form action="/verOfertas" id="verOfertas" >{% csrf_token %}
                <h3>Visualizar Ofertas</h3>
                <button class="btnOpcion btn-primary" type="button" data-toggle="modal" id="btVerOfertas"> </button>
            </form>    
        </center>
    
    </div>

    
</body>
</html>