<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pago.css'%}">
    <title>Pagina-pago</title>
</head>

<body>
    <div class="caja" id="tituloInit">
        <center><i><h1>Cancelar Comanda</h1></i></center>
        <center><i><h4>
            {%if messages %}
                {% for msg in messages%}
                <b>{{msg}}</b>
                {% endfor %}
                {% endif %}
            </h4></i>
        </center>
    </div>
    
    <div class="caja">

        <form  action = '/pagar' method= "POST" id= 'pagar'>{%csrf_token%}

            <div class="fila">

                <div class="columna">
                    <i><h3 id="titulo">Datos Comanda</h3></i>

                    <div class="caja-input">
                        <span>Nombre Completo:</span>
                        <input type="text" placeholder="Nombre Completo">
                    </div>

                    <div class="caja-input">
                        <span>Rut Cliente:</span>
                        <input type="text" name= 'Rut_Cliente' placeholder="RUT(Sin puntos y con guion)" id="Cli_rut" required="">
                    </div>

                    <div class="caja-input">
                        <span>Rut Garzon:</span>
                        <input type="text" name = "Garzon_Rut" placeholder="RUT(Sin puntos y con guion)" required="">
                    </div>

                    <div class="flex">
                        <div class="caja-input">
                            <span>ID Comanda:</span>
                            <input type="number" placeholder="ID Comanda" name = "idComanda" required="">
                        </div>

                        <div class="caja-input">
                            <span>ID venta:</span>
                            <input type="number" placeholder="ID nueva venta" required="" name ="id venta">
                        </div>

                        <div class="caja-input">
                            <span>Nro Boucher:</span>
                            <input type="text" name ="boucher" placeholder="123 456" required="">
                        </div>
                    </div>

                </div>

                <div class="columna">
                    <i><h3 id="titulo">Pago</h3></i>
                    
                    <div class="caja-input">
                        <span>Tipo de Pago:</span> 
                        <input type="text" name ="metodoPago" placeholder="1 a 5" required="">
                    </div>

                    <div class="caja-input">
                        <span>Bancos Disponibles:</span> 
                        <input type="text" name ="Bancos" placeholder="1 a 4" required="">
                    </div>

                    <div class="caja-input">
                        <span>Nro de la Tarjeta:</span>
                        <input type="text" placeholder="1111-2222-3333-4444"><!--campo que se debe activar solamente si selecciona una "Tarjeta de credito"-->
                    </div>

                    <div class="flex">
                        <div class="caja-input">
                            <span>Monto:</span> 
                            <input type="number" placeholder="$CLP" required="" name = "Precio">
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <input type="submit" value="Proseguir con el pago" class="btn-pago">
        </form>
    </div>
</body>
</html>