<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Ofertashistorial.css'%}">
    <title>Ofertas Disponibles</title>
</head>
<body>
    <div class="caja" id="titulo">
        <center><i><h1>Ofertas Disponibles</h1></i></center>
    </div>

    <div class="caja" id="desplegable">
        <form action="#">
            <label for="offers"><i><h2>Ver Ofertas</h2></i></label>
            <select name="Offers_disp" id="offers">
              <option value="Oferta">Oferta</option>
              <option value="Oferta">Oferta</option>
              <option value="Oferta">Oferta</option> <!--Se supone que las "options" se deben ir 
                                                    actualizando automaticamente con las ofertas ingresadas-->
              <option value="Oferta">Oferta</option>
              <option value="Oferta">Oferta</option>
              <option value="Oferta">Oferta</option>
              <option value="Oferta">Oferta</option>
              <option value="Oferta">Oferta</option>
            </select>
            <input class="btAceptar" type="submit" value="Buscar" />
      </form>
    </div>  
    <div class="caja" id="Info">
        <i><p>Nombre de los productos:<br> 
           ID Oferta: <br>
           Precio: <br>
           Fecha de Inicio: <br>
           Fecha de finalizacion:
        </p></i>
    </div>
    
</body>
</html>